# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# SQLite database
*.sqlite3

# Python cache files
__pycache__/
*.py[cod]

# Spotify cache
.cache

# Environment variables
.env